venv/
.env/
env/
.venv/
*.pyc
*.pyo
__pycache__/
.idea/
*~
*.swp
*.swo
.vscode/
.coverage
.tox/
.nox/
.hypothesis/
.mypy_cache/
.pytest_cache/


rsrc/csv/eng/*
!rsrc/csv/eng/README.txt

rsrc/csv/jp/*
!rsrc/csv/jp/README.txt
